.home_main {
	background: url("http://i.imgur.com/dfa9St6.jpg") no-repeat center center fixed;
	height: 850px;
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.home_header {
	padding-top: 20%;
	text-align: center;
}

.about_main {
	background: url("http://i.imgur.com/Ewtj1Wk.jpg") no-repeat center center fixed;
	height: 850px;
	color: rgba(50,50,50,1);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio_main {
	background: url("http://i.imgur.com/cbYuDaU.jpg") no-repeat center center fixed;
	height: 850px;
	color: white;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.contact_main {
	height: 850px;
	background-color: black;
	color: white;
}