body {
  margin-top: 30px;
}
.home_main {
	background: url("../images/home_bg.jpg") no-repeat center center fixed;
	color: white;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.home_header {
	padding-top: 20%;
	text-align: center;
}

.about_main {
	background: url("../images/about_bg.jpg") no-repeat center center fixed;
	color: rgba(50,50,50,1);
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio_main {
	background: url("../images/portfolio_bg.jpg") no-repeat center center fixed;
	height: 100vw;
	color: white;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}